# Dépendances pour le projet de reconnaissance du langage des signes ASL

# Deep Learning
#tensorflow>=2.13.0
#keras>=2.13.0

# Vision par ordinateur
#opencv-python>=4.8.0
#mediapipe>=0.10.0

# Calcul scientifique
#numpy>=1.24.0

# Visualisation
#matplotlib>=3.7.0

# Utilitaires
#pillow>=10.0.0


# Dépendances supplémentaires pour l'approche classificateur

# Machine Learning
scikit-learn>=1.3.0
joblib>=1.3.0

# Visualisation
seaborn>=0.12.0

# Barre de progression
tqdm>=4.66.0